[Desktop Entry]
Name=Live-usb kernel updater
Name[ca]=
Name[de]=Live-USB BS-Kern updater
Name[el]=Live-usb kernel updater
Name[es]=
Name[fr]=Mise à jour du noyau live-usb
Name[it]=
Name[ja]=
Name[nl]=Live-usb kernel updater
Name[ro]=
Name[ru]=Обновление ядра Live-usb
Name[sv]=Live-usb kernel updater
Comment=Update the kernel on a live-usb system
Comment[ca]=
Comment[de]=Den Betriebssystem-Kern ('Linux kernel') auf neuere Version bringen in einer live-USB Installation
Comment[el]=Ενημέρωση του πυρήνα σε ένα σύστημα live-usb
Comment[es]=
Comment[fr]=Mettre à jour le noyau d'un système live-usb
Comment[it]=
Comment[ja]=
Comment[nl]=Update de kernel op een live-usb systeem
Comment[ro]=
Comment[ru]=Обновить ядро в Live-usb системе
Comment[sv]=Uppdatera Linux-kärnan på ett live-usb system
Icon=drive-removable-media-usb
Type=Application
Terminal=true
Exec=sudo /usr/local/bin/live-kernel-updater --pause
Categories=ConsoleOnly;System;MX-Live;
